#body{
	background-color: pink;
    font-family: 'Big Shoulders Display', cursive;
}

h1 {
    color: darkblue;
}

ol {
    background-color: beige;
}


div strong {
    text-decoration: underline;
}

header img {
   width: auto;
}

section table {
    text-align: right;
}